@using net_il_mio_fotoalbum.Models
@model PaginatedFotoViewModel

@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <p class="text-danger container text-center alert alert-success my-2" id="messageCrud">@TempData["Message"]</p>
}

<section class="container text-center my-5">
    <h1 class="text-danger">Benvenuto <strong class="text-success"> @User.Identity?.Name</strong> </h1>
    @if (Model?.Fotos?.Count() == 0)
    {
        <h1 class="text-warning">Non hai aggiunto nessuna foto</h1>    
        <a asp-action="Create" asp-controller="Foto" class="btn btn-info">Aggiungi Foto</a>
        <a asp-action="Create" asp-controller="Category" class="btn btn-info">Aggiungi Categoria</a>
        <a class="btn btn-warning" asp-controller="Category" asp-action="Index">Controlla le categorie inserite</a>
    }
    else
    {   

        <p>Ecco la lista delle foto che hai caricato</p>

        <div class="d-flex justify-content-end gap-2">
            @* barra di ricerca *@
            <div class="input-group my-3">
                <form id="searchForm" method="get" asp-controller="Foto" asp-action="SearchFotos">
                    <div class="form-outline">
                        <input id="searchbar" type="search" name="search" class="form-control" placeholder="Search" />
                    </div>
                </form>
            </div>

            <div class="text-end">
                <a class="btn my-2 btn-info" asp-controller="Foto" asp-action="Create">Inserisci nuova foto</a>
                <a class="btn btn-warning" asp-controller="Category" asp-action="Index">Controlla le categorie inserite</a>
            </div>
        </div>

        <div class="d-flex justify-content-between">

            @* Paginazione *@
            <nav>
                <ul class="pagination">
                    <li class="page-item @(Model.PageNumber <= 1 ? "disabled" : "")">
                        <a class="page-link" href="?page=@(Model.PageNumber - 1)" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i != 4)
                        {
                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                <a class="page-link " href="?page=@i"> @i </a>
                            </li>
                        }
                    }

                    <li class="page-item @(Model.PageNumber >= Model.TotalPages ? "disabled" : "")">
                        <a class="page-link"  href="?page=@(Model.PageNumber + 1)" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                </ul>
            </nav>

             <a class="btn my-3 btn-dark" asp-action="Index" asp-controller="Message">Controlla i messaggi</a>
        </div>

    //modale conferma cancellazione
        <div class="modal fade" id="exampleModalCenter" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-dismiss="modal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-danger" id="exampleModalLongTitle">Attenzione:</h5>
                        <button type="button" id="ics" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <p class="modal-body text-black">Sei sicuro di voler eliminare sta foto ? </p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="close" onclick="close">Chiudi</button>
                        <button type="button" class="btn btn-primary" id="confermaEliminaBtn">Conferma Eliminazione</button>
                    </div>

                </div>
            </div>
        </div>


        //tabella risultati
        <table id="tableContainer" class="table table-dark table-striped align-middle">
            <thead >
                <tr >
                    <th class="text-danger" scope="col">Foto</th>
                    <th class="text-danger" scope="col">Nome</th>
                    <th class="text-danger" scope="col">Descrizione</th>
                    <th class="text-danger" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            @foreach (Foto foto in Model.Fotos)
            {
                <tr>
                    <td scope="row">
                        @if(foto.ImageFile is null && foto.ImageUrl is null)
                            {
                                <img class="imgAdmin" src="https://act-on.com/wp-content/uploads/2014/04/duck-missing-in-row-2.png" width="200" />
                                <img class="imgAdminZoom d-none" src="https://act-on.com/wp-content/uploads/2014/04/duck-missing-in-row-2.png" width="700" />
                            }
                            else
                            {
                                <div class="imgAdmin">
                                    <img src="@foto.ImageSrc" width="200">
                                </div>

                                <div class ="imgAdminZoom d-none">
                                    <img src="@foto.ImageSrc" width="1200">
                                </div>
                            }
                        </td>
                    <td>@foto.Name</td>
                    <td>@foto.Description</td>
                    <td>
                        <div class="d-flex gap-1">
                            <a class="btn btn-success" asp-controller="Foto" asp-action="Details" asp-route-id="@foto.Id"><i class="fa-solid fa-info"></i></a>
                            <a class="btn btn-warning" asp-controller="Foto" asp-action="Edit" asp-route-id="@foto.Id"><i class="fa-solid fa-gear"></i></a>

                            <form asp-action="Delete" asp-controller="Foto" asp-route-id="@foto.Id" method="post" id="formDelete">
                                  @Html.AntiForgeryToken()
                                <button type="button" class="btn btn-danger deleteBtn"><i class="fa-solid fa-trash"></i></button>
                            </form>           
                        
                        </div>

                    </td>
                </tr>
            }
            </tbody>
        </table>
     
    }
</section>

@section Scripts{
    <script src="/js/detailFoto.js"></script>
}